
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <form method="post">
        @if (string.IsNullOrEmpty((string)@TempData["Message"]))
        {
            <h5 class="text-info">
                Add your IP to  @ViewBag.SqlServer  Azure Sql Server firewall:
            </h5>
            <br />
            <input type="text" id="ip" name="ip" value="@ViewBag.clientIPAddress">
            <input type="submit">
        }
        else
        {
            <h5 class="text-success">
                @TempData["Message"]
            </h5>
        }
    </form>
</div>
